//vars globales

//font types
@import url('https://fonts.googleapis.com/css2?family=Quintessential&family=Roboto:wght@300&display=swap');
$font_1:"Roboto",sans-serif;
//colores del sitio
$color_1:rgba(88, 88, 89, 1);
$color_2:rgba(242, 213, 187, 0.5);
$color_3:rgba(191, 174, 159, 1);
$color_4:rgba(13, 12, 12, 1);
$color_5:rgba(242, 242, 242, 1);
$color_6:rgba(221,222,224,1);

//tamaños
$w-100:100%;
$w-99: 99%;
$w-80:80%;
$w-75:75%;
$w-50:50%;


//----------------fuentes----------------
//pesos
$fontWeight_1:700;
$fontWeight_2:600;
$fontWeight_3:500;

//alturas 
$lHeight_0:2.0rem;
$lHeight_1:1.6rem;
$lHeight_2:1.4;
$lHeight_5:5.0rem;

//tamaños 
$fSize_General:62.5%;
$fSize_0:4.0rem;
$fSize_1:2.0rem;
$fSize_2: 1.8rem;
$fSize_3: 1.6rem;